
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-image: url(./images/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.card{
  width: 100%;
  max-width: 450px;
  padding: 25px;
  border-radius: 18px;
  color: #fff;
}

.glass{
  background: linear-gradient(to top, rgb(0, 0, 0, 0.3), rgb(255, 255, 255, 0.2));
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.9);
  border: 1px solid rgba(255,255,255,0.15);
}

.search{
  display:flex;
  gap:12px;
}

.search input{
  flex:1;
  padding:10px 18px;
  border-radius:14px;
  border:none;
  outline:none;
  font-size:16px;
  background: rgba(255, 255, 255, 0.759);
}

.search button{
  width:50px;
  height:50px;
  border-radius:50%;
  border:none;
  cursor:pointer;
  background: linear-gradient(135deg,#38bdf8,#6366f1);
  display:flex;
  align-items:center;
  justify-content:center;
  transition: transform .2s ease;
}

.search button:hover{
  transform: scale(1.08);
}

.search button img{
  width:20px;
  filter: brightness(0) invert(1);
}

.weather{
  text-align:center;
  margin-top:5px;
  display:none;
  animation: fadeUp .6s ease;
}

.weather-icon{
  width:160px;
}

.temp{
  font-size:64px;
  color: rgb(41, 40, 40);
  font-weight:600;
}

.city{
  font-size:26px;
  font-weight:400;
  opacity:.9;
  color: rgb(41, 40, 40);
}

.details{
  margin-top:14px;
  display:flex;
  justify-content:space-between;
  gap:12px;
  color: rgb(41, 40, 40);
}

.col{
  flex:1;
  background: rgba(255,255,255,0.15);
  border-radius:18px;
  padding:11px;
  display:flex;
  gap:12px;
  align-items:center;
}

.col img{
  width:36px;
}

.col p{
  font-size:20px;
  font-weight:500;
}

.col span{
  font-size:14px;
  opacity:.9;
}

.error{
  display:none;
  margin-top:14px;
  color:#fca5a5;
  font-weight:500;
}

@keyframes fadeUp{
  from{
    opacity:0; 
    transform:translateY(20px);
  }
  to{
    opacity:1; 
    transform:translateY(0);
  }
}

.forecast{
  width: auto;
  height: 120px;
  padding: 5px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  display: none;
}

.forecast::-webkit-scrollbar{
  display: none;
}

.forecast .col{
  background: rgba(255,255,255,0.15);
  border-radius:11px;
  padding:11px;
  display:flex;
  flex-direction: column;
  gap: 8px;
  align-items:center;
  margin-right: 10px;
}

.forecast .col img{
  width:60px;
  height: 40px;
  object-fit: cover;
}

.forecast .col p{
  font-size:14px;
  font-weight:500;
}

.forecast .col span{
  font-size:14px;
  opacity:.9;
}
